{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}SmartHome{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1> {{ device.name }} </h1>
    <hr>
    <p> Description: {{ device.description }}</p>
    <p> Device Id: {{ device.device_id }}</p>
    <hr>

    <ul class="list-group">
	{% for schedule in device.schedules %}
	    <li class="list-group-item"> {{ schedule.id }}: {{ schedule.func.func_name }} {{ schedule.next_run_time.ctime() }}</li>
	{% endfor %}
    </ul>


	<form method="POST" action="/schedules/{{ device.id }}">

	<div class="btn-group btn-group-toggle" data-toggle="buttons">
	  <label class="btn btn-secondary">
	    	<input type="radio" name='on' value='on'> On
	  </label>
	  <label class="btn btn-secondary">
	    	<input type="radio" name='on' value='off'> Off
	  </label>
	</div>
	
	<div class='form-group row'>
		<input class="col-form-control col-sm-1" type="number" name="second" min="0" max="59" value="0">
		<label class="col-form-label col-sm-2">Second</label>
		<input class="col-form-control col-sm-1" type="number" name="minute" min="0" max="59" value="0">
		<label class="col-form-label col-sm-2">Minute</label>
		<input class="col-form-control col-sm-1"" type="number" name="hour" min="0" max="23" value="0"> 
		<label class="col-form-label col-sm-2"">Hour</label>
	</div>
    {{ form.hidden_tag() }}
    <br>
    <input class="btn btn-primary" type="submit" value="Submit">
</form>
</div>
{% endblock %}